.DS_Store
/.idea

*.mode1v3
*.pbxuser
*.perspectivev3
*.xcuserdatad
*.xccheckout
*.xcscmblueprint
*.xcbaseline

## Build generated
.swiftpm
.bundle
build/
vendor/


## Obj-C/Swift specific
*.hmap
*.ipa